body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#DeleteBtn {
    float: right;
    display: inline;
}
#CancelBtn {
    display: inline;
}

#DeleteModal{
    margin-top: 5%;
}

.modal-header {
    color: white;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #DA514E;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

#DescriptionModal {
    text-align: justify;
    text-justify: inter-word;
}